* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: greenyellow ;
    color: #333;
    padding: 20px;
}
h1{
    color: #333;
    background-color: #f0f0f0;
    text-align: center;
}